*{
    font-family: "Roboto", sans-serif;
    margin:0px;
    padding:0px;
    background-color: #f1f1ff;
    color: black;
    ul{
        list-style: none;
    }
    ul li{
        text-decoration-style: none;
        color:rgb(59, 55, 55);
    }
    
}
.div-setbetween ul li a i{
    padding:5px;
}

/* Top-Head */
.wrapper{
    max-width: 1398px;
    margin: auto;
    display: flex;
}
.div-setbetween{
    width: 466px;
    padding: 12px;
}
.div-setbetween ul{
   text-align: center;
   color: black;
}
.div-setbetween ul li{
   display: inline-block;
   margin-inline: 6px;
}

.div-setbetween ul li a:hover{
    cursor: pointer;
    color: blue;
 }
